section {
  width: 88%;
  min-height: 805px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
}
.yuyue-header {
  width: 100%;
  height: 75px;
  background-color: #f2f2f2;
  margin: 0 auto;
}
.yuyue-header .yueyue-count {
  width: 845px;
  height: 100%;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #6d6b6b;
}
.yuyue-header .yueyue-count input {
  width: 318px;
  height: 32px;
  box-sizing: border-box;
  border: 1px solid #d8d8d8;
  padding: 0 10px;
}
.yuyue-header .yueyue-count a {
  color: #6d6b6b;
}
.yuyue-header .yueyue-count a:hover {
  color: #fd79a8;
}
.yuyue-header .yueyue-count a.active {
  color: #fd79a8;
}
.tab-title {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.64705882);
  border-bottom: 1px solid #f2f2f2;
}
.tab-title .tab-item {
  width: 111px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.01960784);
  border: 1px solid #ebebeb;
  margin: 0 1px;
  text-align: center;
  line-height: 40px;
}
.tab-title .tab-item.active {
  background-color: #fff;
  color: #fd79a8;
}
.seach {
  position: absolute;
  right: 10px;
  top: 150px;
}
.seach input {
  width: 286px;
  height: 32px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0 10px;
}
.seach button {
  width: 89px;
  height: 32px;
  background-color: #ff6294;
  color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.tab-count {
  margin-top: 60px;
}
.tab-count .tab-count-top {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
}
.tab-count-top {
  display: flex;
  justify-content: space-between;
  text-align: center;
  line-height: 50px;
}
.tab-count-top div {
  height: 100%;
}
.tab-count-top div:nth-child(1) {
  width: 250px;
}
.tab-count-top div:nth-child(2) {
  width: 105px;
}
.tab-count-top div:nth-child(3) {
  width: 220px;
}
.tab-count-top div:nth-child(4) {
  width: 122px;
}
.tab-count-top div:nth-child(5) {
  width: 140px;
}
.tab-count-top div:nth-child(6) {
  width: 180px;
}
.tab-count-top div:nth-child(7) {
  width: 110px;
}
.tab-count-bottom {
  background-color: #fff;
  min-height: 500px;
}
.tab-count-bottom .tcb-item > div:nth-child(1) {
  width: 250px;
}
.tab-count-bottom .tcb-item > div:nth-child(2) {
  width: 135px;
}
.tab-count-bottom .tcb-item > div:nth-child(3) {
  width: 166px;
}
.tab-count-bottom .tcb-item > div:nth-child(4) {
  width: 122px;
}
.tab-count-bottom .tcb-item > div:nth-child(5) {
  width: 140px;
}
.tab-count-bottom .tcb-item > div:nth-child(6) {
  width: 145px;
}
.tab-count-bottom .tcb-item > div:nth-child(7) {
  width: 110px;
}
.tcb-item {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  font-size: 15px;
}
.tcb-item a {
  color: #fd79a8;
}
.item-user {
  display: flex;
  height: 101px;
  align-items: center;
  justify-content: space-evenly;
}
.item-user img {
  width: 49px;
  height: 49px;
  border-radius: 50%;
}
.item-user div {
  text-align: left;
}
.item-user div p {
  margin: 15px 0;
  color: #949494;
}
.item-user div p span {
  margin: 0 8px 0 0;
  display: inline-block;
  text-align: center;
  color: #fd79a8;
}
.item-user div p span:nth-child(3) {
  width: 63px;
  height: 23px;
  background-color: #3399ff;
  color: #fff;
  border-radius: 5px;
}
.tcb-item .s-p {
  display: inline-block;
  width: 49px;
  height: 23px;
  background-color: #ff6294;
  color: #fff;
  border-radius: 5px;
}
.item-project {
  margin-left: 20px;
}
.item-project p:nth-child(2) {
  text-align: left;
}
.item-time,
.item-price,
.item-waiter {
  margin-left: 20px;
}
.item-time p,
.item-price p,
.item-waiter p {
  margin: 10px 0;
}
.item-time p:nth-child(2),
.item-price p:nth-child(2),
.item-waiter p:nth-child(2) {
  color: #949494;
}
.item-waiter {
  margin-left: 40px;
  text-align: left;
}
.record {
  margin-top: 45px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 15px;
  color: #666;
}
.record .box {
  display: flex;
}
.record .box > p {
  line-height: 28px;
}
.record button {
  width: 28px;
  border-radius: 5px;
}
.record button.active {
  background-color: #ff6294;
  color: #fff;
}
.record select {
  width: 72px;
}
.record input {
  width: 47px;
  margin: 0 3px;
  text-align: center;
}
.record input,
.record select,
.record button {
  color: #666;
  border: #d9d9d9 1px solid;
  box-sizing: border-box;
  height: 28px;
}
.record > .box > div {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.record > .box > div p {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.record > .box > div p:nth-child(1) {
  width: 185px;
}
